h1 {
  color: teal;
  font-family: monospace;
}

button {
  margin: 8px;
}

#container {
  border: 1px solid blue;
  padding: 10px;
}

.thor {
  border: 2px solid black;
  padding: 8px;
  margin: 8px;
}

.thor:hover {
  border-color: lightgray;
}

.clicked {
  border-color: red;
}
