h1 {
  color: teal;
}

p, h3 {
  display: inline-block;
  width: 20%;
}

input {
  width: 150px;
}

#container {
  border: 1px solid blue;
  padding: 10px;
  margin: 30px;
}

.person {
  border: 1px solid black;
  padding: 2px;
}

.clicked {
  border-color: red;
}
